.offerDiv{
    width: 100%;
    height:10%;
    background-color:white;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .offerDiv{
        /* background-color: red; */
        height: auto;
    }
}